.card-img {
  transition: 0.5s;
  width: 100%;
  object-fit: cover;
}
.tag-span {
  border-radius: 1rem;
  background: $primary-color-200;
  padding: 0.25rem 0.75rem;
  margin-right: 1rem;
}
@media (max-width: 768px) {
  .tag-span {
    margin-right: 0.5rem;
  }
}
.page-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  
  li {
    display: flex;
    align-items: center;
  }
  
  li > a {
    font-size: 1.5rem;
    color: $primary-color-700;
    background-color: $primary-color-50;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.125rem 0.813rem;
    
    &:hover {
      color: $primary-color-50;
      background-color: $primary-color-800;
      transition: all 0.4s ease-in-out
    }
    
    &.page-active {
      color: $primary-color-50;
      background-color: $primary-color-800;
    }
  }
}
.link-btn-lg {
  font-size: $font-size-6;
  background-color: $primary-color-900;
  border-radius: 0.313rem;
  padding: 1rem 2rem;
  display: inline-flex;
  align-items: center;
  
  span, & {
    color: $primary-color-50;
  }
  
  span {
    margin-left: 0.5rem;;
  }
  
  &:hover span {
    transform: translateX(0.313rem);
    transition: transform 0.3s;
  }
}
@media (max-width: 1400px) {
  .link-btn-lg {
    font-size: 1rem;
    margin-bottom: 3rem;
    padding: 0.5rem 1.25rem;

    span {
      font-size: 1rem; 
    }
  }
}

.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  
  h3 {
    margin: 0 1.031rem;
    letter-spacing: 0.25rem;
  }

  img {
    display: none;
  }
}
@media (max-width:768px) {
  .list-header > span > svg {
    display: none;
  }
  .list-header img {
    display: block;
  }
}

.nav-list-top-left, .nav-list-top-right {
  top: -0.5rem;
}
.nav-list-bottom-left, .nav-list-bottom-right {
  bottom: -0.5rem;
}
.nav-list-top-left, .nav-list-bottom-left {
  left: -0.25rem;
}
.nav-list-top-right, .nav-list-bottom-right {
  right: -0.25rem;
}

@mixin link-component {
  li {
    padding: 0.25rem 0.5rem;
    position: relative;

    &:hover {
      .nav-list-top-left,
      .nav-list-top-right,
      .nav-list-bottom-left,
      .nav-list-bottom-right {
        visibility : visible;
        opacity : 1;
      }
    }
    
    &.nav-active {
      .nav-list-top-left,
      .nav-list-top-right,
      .nav-list-bottom-left,
      .nav-list-bottom-right {
        visibility: visible;
        opacity: 1;
      }
    }

    span {
      position: absolute;

      &.nav-list-top-left,
      &.nav-list-top-right,
      &.nav-list-bottom-left,
      &.nav-list-bottom-right {
        visibility: hidden;
        opacity: 0;
        transition : visibility 0s, opacity 0.4s linear;
      }
    }
  }
}

@mixin blog-nav {
  width: 19.125rem;;
  border-radius: 0.5rem;
  padding: 5rem;
  position: sticky;
  top: 5rem;
  right: 0;
  color: $primary-color-600;

  li {
    font-size: $font-size-6;
    font-weight: 400;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 2rem;
  }
}